<!DOCTYPE html>
<html>
<head>
	<title>add_post</title>
</head>

<body>
{%for message in get_flashed_messages()%}
	<h1>{{message}}</h1> <br>
	{%endfor%}
发布车源信息： <br>
<form method="post" action="">

发车地点
<div id="area"></div>
抵达地点
<div id="end_area"></div>
车辆：
<select name="car">

{%for i in current_user.drivers%}
	<option value="{{i.id}}">{{i.number}} </option>

{%endfor%}
</select> <br>
发车时间：
<input type="text" name="time" value="2017-07-08 20:20">
<br>
运费：
<input type="text" name="price" value="3000">
<br>
备注：
<input type="text" name="note">
<br>
<input type="submit" value="发布">
</form>
<br>

<script src="{{url_for('static',filename='city.js')}}"></script>
<script type="text/javascript">
var sheng = document.createElement("select");
var shi = document.createElement("select");
var qu = document.createElement("select");
var area = document.getElementById("area");

sheng.setAttribute('name', 'start_sheng');
shi.setAttribute('name', 'start_shi');
qu.setAttribute('name', 'start_qu');
area.appendChild(sheng);
area.appendChild(shi);
area.appendChild(qu);


var endarea = document.getElementById("end_area");
var end_sheng = document.createElement("select");
var end_shi = document.createElement("select");
var end_qu = document.createElement("select");
end_sheng.setAttribute('name', 'end_sheng');
end_shi.setAttribute('name', 'end_shi');
end_qu.setAttribute('name', 'end_qu');
endarea.appendChild(end_sheng);
endarea.appendChild(end_shi);
endarea.appendChild(end_qu);


end_sheng.options[0] = new Option("请输入省",'');
end_shi.options[0] = new Option("请输入市",'');
end_qu.options[0] = new Option("请输入区/县",'');



sheng.options[0] = new Option("请输入省",'');
shi.options[0] = new Option("请输入市",'');
qu.options[0] = new Option("请输入区/县",'');

// 循环第一步,把省循环进select
for (var i = 0; i < city.length; i++) {
	sheng.options[sheng.length] = new Option(city[i].name,city[i].name);
	end_sheng.options[end_sheng.length] = new Option(city[i].name,city[i].name);
	// 循环第二步,把所有的市都循环进select
	sheng.onchange = function(){
		shi.options.length = 0;
		shi.options[shi.length] = new Option("请输入市",'');
		for (var j = 0; j < city[sheng.selectedIndex-1].city.length; j++) {
			shi.options[shi.length] = new Option(city[sheng.selectedIndex-1].city[j].name,city[sheng.selectedIndex-1].city[j].name)
		}
		
	}

	end_sheng.onchange = function(){
		end_shi.options.length = 0;
		end_shi.options[end_shi.length] = new Option("请输入市",'');
		for (var j = 0; j < city[end_sheng.selectedIndex-1].city.length; j++) {
			end_shi.options[end_shi.length] = new Option(city[end_sheng.selectedIndex-1].city[j].name,city[end_sheng.selectedIndex-1].city[j].name)
		}
		
	}

	shi.onchange = function(){
		qu.options.length = 0;
		qu.options[qu.length] = new Option("请输入区/县",'');
		for (var k = 0; k < city[sheng.selectedIndex-1].city[shi.selectedIndex-1].area.length; k++) {
			qu.options[qu.length] = new Option(city[sheng.selectedIndex-1].city[shi.selectedIndex-1].area[k],city[sheng.selectedIndex-1].city[shi.selectedIndex-1].area[k]);	
		};
	}
	end_shi.onchange = function(){
		end_qu.options.length = 0;
		end_qu.options[end_qu.length] = new Option("请输入区/县",'');
		for (var k = 0; k < city[end_sheng.selectedIndex-1].city[end_shi.selectedIndex-1].area.length; k++) {
			end_qu.options[end_qu.length] = new Option(city[end_sheng.selectedIndex-1].city[end_shi.selectedIndex-1].area[k],city[end_sheng.selectedIndex-1].city[end_shi.selectedIndex-1].area[k]);	
		};
	}
};


</script>
</body>
</html>
