<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>send_order</title>
</head>
<body>
	车辆详细信息： <br>
	发车地点 {{dp.start_address}}	 <br>
	抵达地点 {{dp.end_address}}	<br>
	发车时间 {{dp.start_car_time}}<br>
	车牌：{{dp.driverPosts.number}}	<br>
	车长：{{dp.driverPosts.length}}	<br>
	运费：{{dp.start_price}}	<br>
	备注： {{dp.note}}<br>
	<span style='color:red'>您的账户金额为:{{current_user.price}}元，<br>
	 确认之后需要交纳{{dp.start_price|float*1.0-current_user.price|float}}元保障金作为司机的运费！<br>
	如果司机违约，保障金将返还进您的余额.并可随时提现， <br>
	如果司机完成配送服务后，款项将有系统打至司机账户做为运费。
	</span>
	<form method="post" action="{{url_for('.confirm_order')}}">
<input type="hidden" value="{{dp.id}}" name="id" >
货运信息列表： <br>
<select name="goods">
 {%for i in current_user.consignors.goods_id%}
	<option value="{{i.id}}">货物信息：{{i.name}}</option>
 {%endfor%}
</select>
<input type="submit" value="确认下单并支付定金">
	
</form>
</body>
</html>