{% extends "base.html" %}
{% block title %}车辆信息{% endblock %}
{% block head %}
         {{ super() }}
{% endblock %}


{% block body %}

<header style='float:left;' class="ui-header ui-header-positive ui-border-b" >
    <i class="ui-icon-return" onclick="history.back()"></i><h1>车辆信息，编号：{{dp.id}}</h1>
    <!-- <button class="ui-btn">回首页</button> -->
</header>



<section id="ui-container" style=''>

		<section id="form">
			<div class="demo-item"></div>
			<div class="ui-form ui-border-t">
		        <form action="{{url_for('driver.send_order')}}" method="post">
		        	<input type="hidden" name="driverid" value="{{dp.id}}">

		
		            <div class="ui-form-item ui-border-b" >
		                <i class='icon-home icon-large' style='color:#548B54'></i>[出发]
		                {{dp.start_address}}
		            </div>

		            <div class="ui-form-item ui-border-b" >
	                    <i class='icon-truck icon-large' style='color:#1E90FF'></i>[目的]
	                    {{dp.end_address}}
	                </div>

	                <div class="ui-form-item ui-border-b">
	                    <i class='icon-calendar icon-large' style='color:#FF6A6A'></i>[发车时间]
	                    {{dp.start_car_time|dateformat("Y-M-d")}}&nbsp;{{dp.zone}}
	                </div>

	                <div class="ui-form-item ui-border-b">
	                    <i class='icon-suitcase icon-large' style='color:#EE6363'></i>[车牌号码]
	                    {{dp.driver.number}}
	                </div>                

	                <div class="ui-form-item ui-border-b">
	                    <i class='icon-list-alt icon-large' style='color:#8A2BE2'></i>[车辆]
	                    {%if dp.driver.length%}
	                    {{dp.driver.length}}
	                    {%endif%}
	                    {%if dp.driver.tiji%}
	                    {{dp.driver.tiji}}
	                    {%endif%}
	                    {%if dp.driver.zhongliang%}
	                    {{dp.driver.zhongliang}}
	                    {%endif%}
	                    {{dp.driver.car_type}}           
	                    
	                </div>

	                {%if dp.note%}
	                <div class="ui-form-item ui-border-b">
	                    <i class='icon-align-left icon-large' style='color:#FFA500'></i>[备注]
	                    &nbsp;{{dp.note}}&nbsp;
	                </div>
	                {%endif%}

	                
					<div class="ui-form-item ui-border-b" style="color:red">
	                    预约运费(元)
	                    <span style='text-align: center;'>
	                    
	                    <i class='icon-minus-sign icon-large' onclick='sub()'></i>
	                    <span>&nbsp;</span>
	                    <span id='pricespan'>{{dp.start_price}}</span>	
	                    <span>&nbsp;</span>  
	                    <i class='icon-plus-sign icon-large' onclick='add()'></i> 
	                     </span>           
	                    <input type="hidden" value="{{dp.start_price}}" name="price" id='price'>
	                </div>

	                


	                {%if not current_user.phone%}
		            <div class="ui-form-item ui-border-b">
	                    <label>联系电话</label>
	                    <input type="text" value="" name="phone" placeholder='输入手机号码以便与您联系'>
	                </div>
	                {%else%}
	                
	                {%endif%}

	                <div class="ui-btn-wrap">
	                
						<input type="submit" value="立即预约" class="ui-btn-lg ui-btn-danger"> <br>
						<a class="ui-btn-lg ui-btn-primary" href="tel:15907711863"><i class='icon-phone icon-1x' ></i>&nbsp;电话沟通马上承运</a>
	                </div>
				
		        </form>
		    </div>
		</section>
	
	

</section>







<script>
$('.ui-actionsheet button').click(function(){
    if($(this).data('href')){
        location.href= $(this).data('href');
    }
});
function add(){
	var pricespan = document.getElementById('pricespan').innerHTML;
	var price = document.getElementById('price').value;
	document.getElementById('pricespan').innerHTML = pricespan -0+50.00;
	document.getElementById('price').value = price-0+50.00;
}
function sub(){
	var pricespan = document.getElementById('pricespan').innerHTML;
	var price = document.getElementById('price').value;
	document.getElementById('pricespan').innerHTML = pricespan -50.00;
	document.getElementById('price').value = price-50.00;

}
</script>
<style>
	#ui-container{
		border-top:45px solid transparent;
		border-bottom:60px solid transparent;
	}
	.ui-footer{display: none;}
</style>
{% endblock %}






