<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<style>
	li{font-size: 30px;line-height: 50px;}
	</style>
</head>

<body>
	<ul class="nav clearfix">
		 <li class="shouye">
				<a href="/" title="首页"><span>首页</span></a>
		</li>
		{%for i in nav%}
		<li>
			<a href="/nav_top/{{i.id}}" title="{{i.title}}" class="bg1"><span>{{i.title}}</span></a>

			<dl>
			{%for x in i.category%}
			<dd><a href="/nav/{{x.id}}" title="{{x.title}}">{{x.title}}</a></dd>
			{%endfor%}

			</dl> 
			</li>
		{%endfor%}

		{%if not current_user.is_authenticated %}
		<li>
				<a href="/driver/index/" title="" class="bg1"><span>车源信息</span></a>
		</li>
		<li>
				<a href="/consignor" title="" class="bg1"><span>货源信息</span></a>
		</li>

		{%endif%}

	{%if current_user.is_authenticated %}
{%if current_user.role.name == '司机'%}
<li>
		<a href="/consignor" title="" class="bg1"><span>货源信息</span></a>
</li>
<li>
		<a href="{{url_for('driver.add_post')}}" title="" class="bg1"><span>发布车辆信息</span></a>
</li>
{%endif%}
{%if current_user.role.name =='货主'%}
<li>
		<a href="/driver/index/" title="" class="bg1"><span>车源信息</span></a>
</li>
<li>
		<a href="/consignor/send_goods" title="" class="bg1"><span>发布货物信息</span></a>
</li>

	{%endif%}

	<li>
		<a href="/auth/logout" title="" class="bg1"><span>退出</span></a>
	</li>
<li>
		<a href="{{url_for('usercenter.index')}}" title="" class="bg1"><span>{{current_user.username}}，[{{current_user.role.name}}]</span></a>
	</li>

	{%endif%}
	</ul>
</body>
</html>