{% extends "base.html" %}
{% block title %}我的钱包{% endblock %}
{% block head %}
         {{ super() }}
{% endblock %}


{% block body %}

<header style='float:left;' class="ui-header ui-header-positive ui-border-b" >
    <i class="ui-icon-return" onclick="history.back()"></i><h1>我的钱包</h1>
    <!-- <button class="ui-btn">回首页</button> -->
</header>

<section class='ui-container'>

<div class="ui-form-item ui-border-b" style="margin-top:10px;">
<label>信用资金</label>
<input type="text" value="0元">
</div>
<div class="ui-form-item ui-border-b">
<label>钱包资金</label>
<input type="text" value="0元">
</div>
<div class="ui-form-item ui-border-b">
<label>优惠券</label>
<input type="text" value="0张">
</div>

</section>
{% endblock %}

