<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>userindex</title>
</head>
<body>
 <a href="/">主页</a>
	<h1>{{user.id}}:{{user.username}}</h1> <br>
	<img src="{{user.gravatar(size=128)}}" alt=""> <br>
	{%if current_user.is_authenticated %}
		<!-- <a href="/user/edit_profile">编辑资料</a> -->
	{%endif%} <br>
	
	
{%if current_user.role.name=='司机'%}
已发布的车源信息： <br>
{%for i in current_user.drivers%}
{{i.id}}<br>

{%endfor%}xinxi
{%for i in current_user.drivers.post%}
{{i.id}}<br>
{%endfor%}
<a href="{{url_for('driver.register_driver_post')}}">添加车辆信息</a>
{%endif%}

{%if current_user.role.name=='货主'%}
货物信息： <br>
{%for i in current_user.goods_id%}
货物名称：{{i.name}}<br>
{%endfor%}
<a href="{{url_for('driver.register_driver_post')}}">发布货物信息</a>
{%endif%}

<br>已接订单：<br>
{%for i in current_user.order_pay%}
{{i.order}} <br>
{%endfor%}
</body>
</html>