{% extends "base.html" %}
{% block title %}预约信息列表{% endblock %}
{% block head %}
         {{ super() }}
{% endblock %}


{% block body %}


<section class='ui-container'>
	
<ul class="ui-list ui-list-pure ui-border-tb">

	{%for i in current_user.drivers%}
	{%for j in i.driver_self_orders.order_by('id').paginate(1,20,False).items%}
    <li class="ui-border-t">
        
    	{%if j.state==1%}

        <div class="ui-tag-freelimit"> 
        {%elif j.state==2%}
        <div style="color:#cccccc">
        {%else%}
        <div>
        {%endif%}
        <p>[{{j.goodsed.start_shi}}-{{j.goodsed.end_shi}}]
        {{j.goodsed.name}}
        装车时间:{{j.goodsed.start_car_time|string|truncate(10,False,'')}}
        {{j.start_zone}}</p>
        <h4>预约时间{{j.create_time.strftime("%m/%d %H:%M")}} &nbsp;预约价格:{{j.price}}</h4>        
                 
        </div>
    </li>
    {%endfor%}
    {%endfor%}

    {%if current_user.consignors%}
    {%for j in current_user.consignors.goods_self_orders.order_by('id desc').paginate(1,15,False).items%}
    <li class="ui-border-t">

        {%if j.state==1%}

        <div class="ui-tag-freelimit"> 
        {%elif j.state==2%}
        <div style="color:#cccccc">
        {%else%}
        <div>
        {%endif%}
        <p>[{{j.driver_post.start_shi}}-{{j.driver_post.end_shi}}]
        {{j.driver_post.name}}
        装车时间:{{j.driver_post.start_car_time.strftime("%m/%d")}}
        {{j.start_zone}}
        {{j.driver_post.driver.length}}{{j.driver_post.driver.number}}

        </p>
        <h4>预约时间{{j.create_time.strftime("%m/%d %H:%M")}} &nbsp;预约价格:{{j.price}}</h4>        
                 
        </div>
    </li>
    {%endfor%}
    {%endif%}

</ul>
</section>
<style>
.ui-tag-freelimit:before {
	content: '已接';
	/*background-color: red;*/
}
.ui-tag-freelimit{
    /*background-color: red;*/
}
</style>
{% endblock %}


