{% extends "base.html" %}
{% block title %}接单列表{% endblock %}
{% block head %}
         {{ super() }}
{% endblock %}


{% block body %}


<section class='ui-container'  id='ui-container'>
	
<ul class="ui-list ui-list-pure ui-border-tb">
	{%for i in op%}
    <li class="ui-border-t">

        {%if i.goodsed.state==3 or i.goodsed.state==4%}
        	<div class="ui-tag-freelimit">
            <!-- <p><span>时间{{i.create_time}}</span></p> -->
            <h4>订单号：{{i.order}}</h4>        
            <p>装货地点：【{{i.goodsed.start_xiangxi_address}}】</p>
            <p>卸货地点：【{{i.goodsed.end_xiangxi_address}}】</p>
            <p>装货时间：{{i.goodsed.start_car_time|dateformat("Y-M-d")}}&nbsp;{{i.goodsed.start_zone}}</p>            
            <p>联系电话：{{i.goodsed.consignor.user.phone}}</p>            
            </div>
        {%else%}
            <h4>订单号：{{i.order}}</h4>        
            <p>装货地点：【{{i.goodsed.start_xiangxi_address}}】</p>
            <p>卸货地点：【{{i.goodsed.end_xiangxi_address}}】</p>
            <p>装货时间：{{i.goodsed.start_car_time|dateformat("Y-M-d")}}&nbsp;{{i.goodsed.start_zone}}</p>  
            {%if i.goodsed.price_is_pay and i.state ==2%} 
            <p>联系电话：{{i.goodsed.consignor.user.phone}}</p>
           <button class="ui-btn-lg ui-btn-primary" onclick="fok('{{i.goodsed.id}}')">运输完成</button>
            {%endif%}
        {%endif%}
    </li>
    {%endfor%}

</ul>
</section>
<style>
.ui-tag-freelimit:before {
	content: '完成';
	background-color: red;
}
</style>
<script>
	function fok(id){
		if(confirm('请再次确认，已经货物送达目的地。否则提前完成视为违约！\n如果已经将货物送达目的地，请点击“确定“，如未送达请点击”取消“。')==true){
			window.location.href='/driver_self_confirm/'+id;
		}
	}
</script>



{% endblock %}


