{% extends "base.html" %}
{% block title %}下单列表{% endblock %}
{% block head %}
         {{ super() }}
{% endblock %}


{% block body %}

<header style='float:left;' class="ui-header ui-header-positive ui-border-b" >
    <i class="ui-icon-return" onclick="history.back()"></i><h1>下单列表</h1>
    <!-- <button class="ui-btn">回首页</button> -->
</header>

<section class='ui-container'>
	
<ul class="ui-list ui-list-pure ui-border-tb">
	{%for i in op%}
    <li class="ui-border-t">


    	

        {%if i.goods_order_pay.state==3%}
    	<div class="ui-tag-freelimit">
        <!-- <p><span>时间{{i.create_time}}</span></p> -->
        <h4>订单号：{{i.order}}</h4>        
        <p>装货地点：【{{i.goods_order_pay.start_xiangxi_address}}】</p>
        <p>卸货地点：【{{i.goods_order_pay.end_xiangxi_address}}】</p>
        <p>装货时间：{{i.goods_order_pay.start_car_time|dateformat("Y-M-d")}}&nbsp;{{i.goods_order_pay.start_zone}}</p>            
        <p>联系电话：0771-3815241</p>            
        </div>
        {%else%}
        <h4>订单号：{{i.order}}</h4>        
        <p>装货地点：【{{i.goods_order_pay.start_xiangxi_address}}】</p>
        <p>卸货地点：【{{i.goods_order_pay.end_xiangxi_address}}】</p>
        <p>装货时间：{{i.goods_order_pay.start_car_time|dateformat("Y-M-d")}}&nbsp;{{i.goods_order_pay.start_zone}}</p>            
        <p>联系电话：0771-3815241</p> 
        {%endif%}
    </li>
    {%endfor%}

</ul>
</section>
<style>
.ui-tag-freelimit:before {
	content: '完成';
	background-color: red;
}
</style>
{% endblock %}


