{% extends "base.html" %}
{% block title %}用户设置{% endblock %}
{% block head %}
         {{ super() }}
{% endblock %}


{% block body %}


<section class='ui-container'>
<!-- <ul class="ui-list ui-list-link ui-border-tb">
    <li>
        <div class="ui-avatar">
            <span style="background-image:url('{{current_user.gravatar(size=120)}}');"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap">修改头像</h4>
        </div>
    </li>
    
</ul> -->

<div class="ui-form-item ui-border-c">
<label>

</label>

<div class="ui-form-item ui-form-item-link ui-border-b">
<a href="{{url_for('usercenter.yinhangka')}}">银行卡管理</a>
</div>
<div class="ui-form-item ui-form-item-link ui-border-b">
<a href="{{url_for('usercenter.change_pay_pwd')}}">修改支付密码</a>
</div>
<div class="ui-form-item ui-form-item-link ui-border-b">
<a href="#">帮助中心</a>
</div>
<div class="ui-form-item ui-form-item-link ui-border-b">
<a href="#">关于系统</a>
</div>

 
</section>
<style>
	.ui-form-item label:not(.ui-switch):not(.ui-checkbox):not(.ui-checkbox-s):not(.ui-radio){width: 135px;}
	.ui-form-item input, .ui-form-item textarea{padding-left:115px;}
</style>
{% endblock %}


