{% extends "base.html" %}
{% block title %}预约返程车信息{% endblock %}
{% block head %}
         {{ super() }}
{% endblock %}


{% block body %}

<header style='float:left;' class="ui-header ui-header-positive ui-border-b" >
    <i class="ui-icon-return" onclick="history.back()"></i><h1>预约返程车信息</h1>
    <!-- <button class="ui-btn">回首页</button> -->
</header>



<section class='ui-container'>
{%for message in get_flashed_messages(category_filter=['error'])%}
<div class="ui-tooltips ui-tooltips-warn">
<div class="ui-tooltips-cnt ui-border-b">
    <i></i>{{message}}
</div>	
</div>	
{%endfor%}

{%for message in get_flashed_messages(category_filter=['success'])%}
<div class="ui-dialog">
    <div class="ui-dialog-cnt">
	    <header class="ui-dialog-hd ui-border-b">
            <h3>发布成功</h3>
            <i class="ui-dialog-close" data-role="button"></i>
        </header>
        <div class="ui-dialog-bd">
            <div>{{message}}</div>
        </div>
        <div class="ui-dialog-ft">
            <button type="button" data-role="button">取消</button>
            <button type="button" data-role="button">确定</button>
        </div>
    </div>        
</div>
<script class="demo-script">
$(".ui-dialog").dialog("show");
</script>
{%endfor%}

	<section id="form">
		<div class="ui-form ui-border-t">
	        <form action="" method="post">
	            <div class="ui-form-item ui-border-b">
	                <label style="width:75px;">出发地</label>
	                <div class="ui-select-group">
	                    <div id="area">    
	                    </div>
	                </div>
	            </div>
	            <div class="ui-form-item ui-border-b">
                    <label>详细地址</label>
                    <input type="text" value="" name="start_xiangxi_address">
                </div>


	            <div class="ui-form-item ui-border-b">
	                <label style="width:75px;">到达地</label>
	                <div class="ui-select-group">
	                    <div id="end_area">    
	                    </div>
	                </div>
	            </div>

	            <div class="ui-form-item ui-border-b">
                    <label>详细地址</label>
                    <input type="text" value="" name="end_xiangxi_address">
                </div>

	           <!--  <div class="ui-form-item ui-border-b">
                    <label>车辆选择</label>
                    <div class="ui-select">
                        <select name="car">
                        {%for i in current_user.drivers%}
						<option value="{{i.id}}">车牌{{i.number}}，车长{{i.length}} </option>
						{%endfor%}
                        </select>
                    </div>
                </div> -->

                <div class="ui-form-item ui-border-b">
                        <label>装货日期</label>
                        <div class="ui-select-group">
                            
                            <div class="ui-select">
                                <select name="mon" id="mon" onchange='daybank()'>
                                </select>
                            </div>
                            <div class="ui-select">
                                <select name="day" id="day">
                                </select>
                            </div>
                            <div class="ui-select">
                                <select name="zone">
                                    <option value="全天" selected="">全天</option>
                                    <option value="上午">上午</option>
                                    <option value="下午">下午</option>
                                    <option value="晚上">晚上</option>
                                </select>
                            </div>
                        </div>
                    </div>
	<script>
var date=new Date;
//年
var year = date.getFullYear()
// 月
var month=date.getMonth()+1;
// 日
var dat = date.getDate()
var curMonthDays = new Date(date.getFullYear(), (date.getMonth() + 1), 0).getDate();

for(var i=0;i<3;i++){
	if(month+i>12){
		break;
	}
	var opt = document.createElement ("option");
	opt.value = month+i;
	opt.innerText = month+i+'月';
	document.getElementById('mon').appendChild(opt);

}
for(var i=0;i<=(curMonthDays-dat);i++){
	if(dat+i>32){
		break;
	}

	var opt = document.createElement ("option");
	opt.value = dat+i;
	opt.innerText = dat+i+'日';
	if(i==0){
		opt.innerText = dat+i+'日(今天)';
	}
	if(i==1){
		opt.innerText = dat+i+'日(明天)';
	}
	if(i==2){
		opt.innerText = dat+i+'日(后天)';
	}
	document.getElementById('day').appendChild(opt);

}

function daybank(){
	mom = parseInt(document.getElementById("mon").value);
	var curMonthDays = new Date(year, mom, 0).getDate();
	document.getElementById("day").options.length = 0;
	// alert(mom);
	// alert(curMonthDays);
	for(var i=1;i<=curMonthDays;i++){
		if(i>32){
			break;
		}

		var opt = document.createElement ("option");
		opt.value = i;
		opt.innerText = i+'日';
		
		document.getElementById('day').appendChild(opt);

	}



}
	</script>

				<div class="ui-form-item ui-form-item-link ui-border-b" onclick="onshowinfo()">
                        <a href="#">展开用车详细(整车、拼车、零担)[选填]</a>
                </div>

                <div class="ui-form-item ui-border-b" style="color:red">
                    <label>运费</label>
                    <input type="text" value="" name="price" style="color:red">
                </div>

                <div class="ui-form-item ui-form-item-textarea ui-border-b">
                        <label>
                            备注
                        </label>
                        <textarea placeholder="给司机带句话
" name="note" ></textarea>
                    </div>

                {%if not current_user.phone%}
	            <div class="ui-form-item ui-border-b">
                    <label>联系电话</label>
                    <input type="text" value="" name="phone" placeholder='输入手机号码以便与您联系'>
                </div>
                {%endif%}

                <div class="ui-btn-wrap">
                {%if current_user.phone%}
                <input type="submit" value="预约返程车" class="ui-btn-lg ui-btn-danger"> 
                 <div class="ui-btn-wrap">
	            	<button class="ui-btn-lg ui-btn-primary active">快捷填写</button>
	            </div>
                 {%else%}
<input type="submit" value="预约返程车并注册货主" class="ui-btn-lg ui-btn-danger"> 
                {%endif%}


                
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>

			<div class="ui-actionsheet">  
				<div class="ui-actionsheet-cnt" style="text-align:left;">
					<h4>用车详细（选填）</h4> 
					<div class="ui-tab" id="tab1">
				    <ul class="ui-tab-nav ui-border-b">
				        <li class="current">整车</li>
				        <li>拼车</li>
				        <li>零担</li>
				    </ul>
				    <ul class="ui-tab-content" style="width:300%;">
				        <li style="background-color:white;">
				        	<div class="ui-form-item ui-border-b">
		                        <label>货品名称</label>
		                        <input type="text" placeholder="输入货选择货品名称" name="zhengche" onfocus="on_selectname();" onblur="on_lost_selectname();" id="name">
		                    </div>

		                    <div class="demo-block" style="padding-top:10px;display:none" id="nameselect">
					            <div class="ui-label-list">
					                <label class="ui-label" onclick="addpname('普货 ')">普货</label>
					                <label class="ui-label" onclick="addpname('机械配件 ')">机械配件</label>
					                <label class="ui-label" onclick="addpname('设备 ')">设备</label>
					                <label class="ui-label" onclick="addpname('酒水饮料 ')">酒水饮料</label>
					                <label class="ui-label" onclick="addpname('农产品 ')">农产品</label>
					                <label class="ui-label" onclick="addpname('重货 ')">重货</label>
					            </div>
					        </div>

		                    <script>
		                    function on_selectname(){
		                    	// alert();
		                    	document.getElementById('nameselect').style.display='block';
		                    }
		                    function on_lost_selectname(){
		                    	// document.getElementById('nameselect').style.display='none';
		                    }
		                    function addpname(name){
		                    	document.getElementById('name').value += name;
		                    }

		                    </script>
		                    
		                    <div class="ui-form-item ui-border-b" style="padding:0px;margin:0px;">
		                        <label style="float:left;width:50px;padding-left: 10px;text-align: left">车长</label>
		                        <div class="ui-select">
		                            <select name="chechang">
		                            	 {%for i in carinfo%}
		                                <option value="{{i.length}},{{i.tiji}},{{i.zhongliang}}">{{i.length}},{{i.tiji}},{{i.zhongliang}}</option>
		                            	{%endfor%}
		                            </select>
		                        </div>
		                    </div>

		                    <div class="ui-form-item ui-border-b" style="padding:0px;margin:0px;">
		                        <label style="float:left;width:50px;padding-left: 10px;text-align: left">车长</label>
		                        <div class="ui-select">
		                            <select name="chexing">
		                            	{%for i in cartype%}
		                                <option value="{{i.name}}">{{i.name}}</option>
		                                {%endfor%}
		                            </select>
		                        </div>
		                    </div>
				        </li>
				        <li style="background-color:white;">
					        <div class="ui-form-item ui-border-b">
		                        <label>货品名称</label>
		                        <input type="text" placeholder="" name="pingche">
		                    </div>
		                    <div class="ui-form-item ui-border-b">
		                        <label>体积(方)</label>
		                        <input type="text" placeholder="请输入体积" name="tiji">
		                    </div>
		                    <div class="ui-form-item ui-border-b">
		                        <label>重量(吨)</label>
		                        <input type="text" placeholder="请输入重量" name="zhongliang">
		                    </div>


				        </li>
				        <li style="background-color:white;">
				        <section class="ui-placehold-wrap" style='padding-top:11.25%;'>
				        <p style="text-align: center;padding-bottom:11.25%;">零担车功能暂未开通</p>
			                
			            </section>

				        </li>
				    </ul>
				</div>
					<!-- <button>完成</button>  -->
					<button type="button" class="ui-btn-lg ui-btn-danger" style="border-color:#ccc;" data-href="#" onclick="onhiddeninfo()">完成</button>
				</div>         
			</div>
			<script type="text/javascript">
			function onshowinfo(){
				$('.ui-actionsheet').addClass('show');
			}
			function onhiddeninfo(){
				$('.ui-actionsheet').removeClass('show');
				$('.ui-actionsheet').addClass('hidden');
			}
			</script>
	        </form>
	    </div>
	</section>
	

</section>






<script src="{{url_for('static',filename='city.js')}}"></script>
<script type="text/javascript">

var selectdiv1 = document.createElement("div");
selectdiv1.className = 'ui-select';

var selectdiv2 = document.createElement("div");
selectdiv2.className = 'ui-select';

var selectdiv3 = document.createElement("div");
selectdiv3.className = 'ui-select';

var sheng = document.createElement("select");
var shi = document.createElement("select");
var qu = document.createElement("select");

var area = document.getElementById("area");


sheng.setAttribute('name', 'start_sheng');
shi.setAttribute('name', 'start_shi');
qu.setAttribute('name', 'start_qu');

selectdiv1.appendChild(sheng);
selectdiv2.appendChild(shi);
selectdiv3.appendChild(qu);

area.appendChild(selectdiv1);
area.appendChild(selectdiv2);
area.appendChild(selectdiv3);


//------------
var endselectdiv1 = document.createElement("div");
endselectdiv1.className = 'ui-select';

var endselectdiv2 = document.createElement("div");
endselectdiv2.className = 'ui-select';

var endselectdiv3 = document.createElement("div");
endselectdiv3.className = 'ui-select';

var end_sheng = document.createElement("select");
var end_shi = document.createElement("select");
var end_qu = document.createElement("select");

var end_area = document.getElementById("end_area");


end_sheng.setAttribute('name', 'end_sheng');
end_shi.setAttribute('name', 'end_shi');
end_qu.setAttribute('name', 'end_qu');

endselectdiv1.appendChild(end_sheng);
endselectdiv2.appendChild(end_shi);
endselectdiv3.appendChild(end_qu);

end_area.appendChild(endselectdiv1);
end_area.appendChild(endselectdiv2);
end_area.appendChild(endselectdiv3);



end_sheng.options[0] = new Option("省",'');
end_shi.options[0] = new Option("市",'');
end_qu.options[0] = new Option("区/县",'');



sheng.options[0] = new Option("省",'');
shi.options[0] = new Option("市",'');
qu.options[0] = new Option("区/县",'');

// 循环第一步,把省循环进select
for (var i = 0; i < city.length; i++) {
	sheng.options[sheng.length] = new Option(city[i].name,city[i].name);
	end_sheng.options[end_sheng.length] = new Option(city[i].name,city[i].name);
	// 循环第二步,把所有的市都循环进select
	sheng.onchange = function(){
		shi.options.length = 0;
		shi.options[shi.length] = new Option("市",'');
		for (var j = 0; j < city[sheng.selectedIndex-1].city.length; j++) {
			shi.options[shi.length] = new Option(city[sheng.selectedIndex-1].city[j].name,city[sheng.selectedIndex-1].city[j].name)
		}
		
	}

	end_sheng.onchange = function(){
		end_shi.options.length = 0;
		end_shi.options[end_shi.length] = new Option("市",'');
		for (var j = 0; j < city[end_sheng.selectedIndex-1].city.length; j++) {
			end_shi.options[end_shi.length] = new Option(city[end_sheng.selectedIndex-1].city[j].name,city[end_sheng.selectedIndex-1].city[j].name)
		}
		
	}

	shi.onchange = function(){
		qu.options.length = 0;
		qu.options[qu.length] = new Option("区/县",'');
		for (var k = 0; k < city[sheng.selectedIndex-1].city[shi.selectedIndex-1].area.length; k++) {
			qu.options[qu.length] = new Option(city[sheng.selectedIndex-1].city[shi.selectedIndex-1].area[k],city[sheng.selectedIndex-1].city[shi.selectedIndex-1].area[k]);	
		};
	}
	end_shi.onchange = function(){
		end_qu.options.length = 0;
		end_qu.options[end_qu.length] = new Option("区/县",'');
		for (var k = 0; k < city[end_sheng.selectedIndex-1].city[end_shi.selectedIndex-1].area.length; k++) {
			end_qu.options[end_qu.length] = new Option(city[end_sheng.selectedIndex-1].city[end_shi.selectedIndex-1].area[k],city[end_sheng.selectedIndex-1].city[end_shi.selectedIndex-1].area[k]);	
		};
	}
};


</script>
<script class="demo-script">
        (function (){
            var slider = new fz.Scroll('#slider1', {
                role: 'slider',
                indicator: true,
                autoplay: true,
                interval: 3000
            });

            slider.on('beforeScrollStart', function(fromIndex, toIndex) {
                console.log(fromIndex,toIndex)
            });

            slider.on('scrollEnd', function(cruPage) {
                console.log(cruPage)
            });
        })();
	</script>
	<script>

	(function (){
            var tab = new fz.Scroll('#tab1', {
		        role: 'tab',
		        autoplay: false,
		        interval: 3000
		    });
		    /* 滑动开始前 */
		    tab.on('beforeScrollStart', function(fromIndex, toIndex) {
		        console.log(fromIndex,toIndex);// from 为当前页，to 为下一页
		    })
		})();
		</script>
<script>
$('.ui-actionsheet button').click(function(){
    if($(this).data('href')){
        location.href= $(this).data('href');
    }
});
</script>
<style>
option{width: 65px;}
select{width: 65px;}
.ui-btn-primary.active{color: white;}
	/*.ui-select1{float:left;width: 70px;}*/
	/*.ui-select2{float:left;}*/
	/*.ui-select3{float:right;}*/
	/*.ui-border-b{float: left;}*/
	.ui-select-group{width: 100%;}
	.ui-tab-content{background-color: rgba(255,255,255);margin-top:0px;}
	/*.ui-form-item{padding: 0px;margin: 0px;}*/
</style>
{% endblock %}





