<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>make_goods_show</title>
</head>
<body>
{{goods.id}},
{{goods.make_count}},
	[出发]{{goods.start_sheng}}——{{goods.start_shi}},
	[目的]{{goods.end_sheng}}——{{goods.end_shi}}
	{%if goods.name%}{{goods.name}}{%endif%}
	{%if goods.car_length%}{{goods.car_length}}{%endif%}{%if goods.tiji%}{{goods.tiji}}{%endif%}{%if goods.zhongliang%}{{goods.zhongliang}}{%endif%}
	<!-- {{goods.driver_self_post_id}} -->
	{%for i in goods.driver_self_post_id%}<br>
	{{i.id}}:{{i.create_time}},{{i.driver_self_order_driver.driver_user.phone}} 
	<a href="{{url_for('superadmin.make_goods_comfirm',goodsid=goods.id,driverid=i.driver_self_order_driver.id,confirmid=i.id,)}}">[推送]</a><br>
	{%endfor%}
	<hr>
</body>
</html>