<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>make_goods_show</title>
</head>
<body>
{{goods.id}},
{{goods.make_count}},
	[出发]{{goods.start_sheng}}——{{goods.start_shi}},
	[目的]{{goods.end_sheng}}——{{goods.end_shi}}
	{%if goods.name%}{{goods.name}}{%endif%}
	{%if goods.car_length%}{{goods.car_length}}{%endif%}{%if goods.tiji%}{{goods.tiji}}{%endif%}{%if goods.zhongliang%}{{goods.zhongliang}}{%endif%}
	运费价格：{{goods.start_price}}
	<!-- {{goods.driver_self_post_id}} -->
	{%for i in goods.driver_self_post_id.order_by('state desc,price')%}
	<br>
	<br>
	<div>
	预约时间：{{i.create_time}}，预约价格：{{i.price}} 手机号码：{{i.driver_self_order_driver.users.phone}} 
	获得运费：<input type="text" name="price" id="price"> 
	{%if i.state%}
	已推送
	{%else%}
	<a href="#" onclick="comfire(this,'{{goods.id}}','{{i.driver_self_order_driver.id}}','{{i.id}}');">[推送]</a>
	{%endif%}
	
	</div>
	{%endfor%}
	<hr>

	<script>
	function comfire(athis,goodsid,driverid,confirmid){
		var b = athis.parentNode.childNodes; 
		var price = 0.00;
		for(var i=0;i<b.length;i++){
			if(b[i].type=='text'){
				price = b[i].value;
			}
		}
		goodsid = parseInt(goodsid);
		driverid = parseInt(driverid);
		confirmid = parseInt(confirmid);
		price =  (parseFloat(price)).toFixed(2);
		// alert(price);
		if(isNaN(price)){
			alert('请输入运费价格。');
			return;
		}
		window.location.href="/superadmin/make_goods_comfirm/"
		+goodsid+"/"
		+driverid+"/"
		+confirmid+"/"
		+price;
		
	}
	</script>
</body>
</html>